.cell {
    background: linear-gradient(132.15deg, #AFAFAF -35.02%, #0E0A07 136.93%);
    border: 1px solid #FFFFFF;

}

.rowTitle {
    background-color: #737271;
    border-right: 1px solid black !important;

}

.createButton {
    background: linear-gradient(135deg, #1E6197 0%, #3D9050 100%);
    border: 1px solid #FFFFFF;
}

.notCompleted {
    border-color: #F95B3F !important;
    box-shadow: 0 0 3px #D11655;
}