.stepper {
    background: #292929 !important;
    color: #FFF !important;
    margin-top: 20px;
    border-radius: 10px;
}

.step {
    color: #fff !important;
}

.stepActive {
    color: #fff !important;
}

.inputs {
    padding: 20px;
    background: #292929 !important;
    border-radius: 10px;
}

