.card {
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    overflow: hidden;
    &:hover {
        background-size: 110%;
    }
    max-width: 100%;
}



.upper {
    background: rgba(0,0,0, 0.7) ;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: 2px 2px 2px 10px  ;
    border-radius: 4px;
    backdrop-filter: blur(2px);
  
}

.bottom {
    
    margin-top: auto;
    color: #fff;
    background: rgba(0,0,0, 0.7);
    backdrop-filter: blur(2px);
    border: none;

}

.divider {
    background-color: #fff !important;
}

.contentBackground {
    background: rgba(0,0,0, 0.2);
    border-radius: 0px 4px 4px 0px;
}

.row {
    max-width: 100%;
    overflow: hidden;
}