.background { 
    background: #121212;
}

.menuMargin{
    margin-left: 70px;
    min-height: 100%;
    height: 100%;
}

.mainContentBackground {
    background: linear-gradient(145.13deg, #858585 -123.5%, #121212 100%);
    min-height:  100vh;
    height: 100%;
}

